<%- include ("partials/top") %>
    <h1 class="page-header">Landing Page</h1>
    <br>
    <hr><br>
    <h4>We can add her any preloading screen or just landing page for To-Do List.</h4>
    <h4>Or we can just start with homepage.</h4>
    <a href="/home" class="btn btn-link btn-block">Get Started</a>
    <%- include ("partials/bottom") %>